.subscription-content {
    display: flex;
    width: 1625px;
    padding: 80px 115px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.header-section {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-section h3 {
    margin: 0;
    align-self: stretch;
    color: var(--New-group-shade6, #37612F);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    /* 200% */
}

.header-section h1 {
    margin: 0;
    color: var(--New-group-shade6, #37612F);
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    /* 187.5% */
}


.subscription-details {
    display: flex;
    width: 1350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.subscription-header h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    color: var(--New-group-shade6, #37612F);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    /* 200% */
}
.subscription-option {
   width: 1350px;
    border: 4px solid #37612F;
    border-radius: 8px;
    overflow: hidden;
    font-family: Nunito;
    background-color: #fff;
    width: 1325px;
    height: 195px;
    flex-shrink: 0;
}


.payment-section {
    display: flex;
    width: 1350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}


.payment-header h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    color: var(--New-group-shade6, #37612F);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    /* 200% */
}
.current-payment {
width: 1350px;
    border: 4px solid #37612F;
    border-radius: 8px;
    overflow: hidden;
    font-family: Nunito;
    background-color: #fff;
    width: 1325px;
    height: 195px;
    flex-shrink: 0;
}
.payment-options {
    width: 1350px;
    border: 4px solid #37612F;
    border-radius: 8px;
    overflow: hidden;
    font-family: Nunito;
    background-color: #fff;
    width: 1325px;
    height: 195px;
    flex-shrink: 0;
    
}
.option, .arrow {
    display: inline-flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}